>|sh|
# 全ファイルを一度無視
/*

# dotfileも無視 
/.*

# 無視したくないファイルを![filename]で指定
!/.bash_profile
!/.bashrc
!/.zshrc
!/.vimrc
!/.tmux.conf
!/.gitignore
!/setup.sh
!/.config*
!/.eslintrc
!/.stylintrc
!/.git_commit_template
