>|sh|
# 全ファイルを一度無視
/*

# dotfileも無視
/.*

# 無視したくないファイルを![filename]で指定
!/osx_setup.sh
!/osx_backup.sh
!/install.sh
!/install-brew.sh
!/.zshrc
!/.vimrc
!/.tmux.conf
!/.gitignore
!/.gitconfig
!/.eslintrc
!/.git_commit_template
!/.editorconfig
!/.gitignore_global
