[core]
	editor = vim
	excludesfile = /Users/fortkle/.gitignore_global
[user]
	name = fortkle
	email = fortkle@gmail.com
[alias]
	st = status
	ch = checkout
	br = branch
	fe = fetch --prune
[pull]
	rebase = false
[init]
	defaultBranch = main
